#chat-field {
    -fx-background-image: url("sources/text-field.png");
}

#chat-field:focused {
    -fx-faint-focus-color: transparent;
}

.shadowed-little{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.shadowed{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 15, 0, 0, 0);
}

#scroll_pane{
    -fx-background-color: #FFFFFF;
}